<header id="menu">
    <div>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/humans"> Humans </a></li>
            <li><a href="/humans/1"> Human1 </a></li>
        </ul>
    </div>
</header>
