<div id="main">
    <div>
        <h1>List of all persons</h1>
        {{#each listHumans}}
            <div>
               - {{id}}: {{name}} 
            </div>
        {{/each}}
    </div>
</div>
